@import "tailwindcss";

@theme {
  --color-brand-yellow: rgb(247, 216, 13);
  --color-brand-green: rgb(21, 107, 54);
  --color-brand-dark-green: rgb(12, 61, 27);
  --font-kura: var(--font-kura, "Kura", sans-serif);
  --font-bomstad: var(--font-bomstad, "Bomstad display", serif);
}

:root {
  --background: rgb(21, 107, 54);
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}